name: CI pipeline

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ditt-användarnamn/min-tjanst:latest -f path/fill/Dockerfile .

      - name: Run tests in container
        run: docker run ditt-användarnamn/min-tjanst:latest npm test
